@keyframes animate {
  0%,40%,100%{transform: translateY(0);}
  30%{transform: translateY(-6px);}
   
}

@keyframes leaf {
  0%,100%{transform: translateY(0);}

  40%{transform: translateY(-1.5vw);}
}

@keyframes cloud{
  0%{transform: translateX(110vw);}


  99.99%{transform: translateX(-100vw);}
  100%{transform: translateX(100vw);}
}


@keyframes textdefilant{
  0% {
    transform: translateX(80%);
}
100% {
    transform: translateX(-80%);
}

}
@keyframes waves{
  0%{transform: translateY(0) }

  50%{transform: translateY(-9px) }
  

  
   
}
@keyframes waves1{
  0%,20%,40%,100%{transform: translateY(0) }

  10%,30%{transform: translateY(-9px) }
  
}

@keyframes begin{
  0%,100%{transform: scale(1) }

  50%{transform: scale(1.05) }
}


