@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Kusukusu';
  src: url(Kusukusu.ttf);
}
*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'  , sans-serif;


}


/*
#leaf{

    width: 35%;
    height: 50%;
    left:67% ;
}
*/
body {

  background-image: linear-gradient(to  bottom right, #ffce00, #fe4880);
    min-height:  98%;
    overflow-x: hidden;

    cursor: none;
scroll-behavior: smooth;
touch-action: manipulation;
}

.custom-cursor{
  cursor: none url('custom-cursor.png'), auto;
 
} 

header{

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 7vw;
    padding: 30px  100px;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    z-index: 100;
    
    transition: 0.12s ease-in;
    transition-delay: 0.1s;
}








.logo {
  position: absolute;
  top:2% ;
  left: 3%;

cursor:none;
z-index: 555;
}


.scrolling-text {
  display: none;

  width: 100vw;
  height: 5vh;
  background-color: #000000a4; 
  color: #fff;
  padding: 10px; 
  position: fixed;
  bottom: 20vh;
  width: 100%;
  text-align: center;
}

   .musiccontrol{
  
    position: absolute;
    margin-top: 9vh;
    left: 48vw;
   
  
  cursor:none;
  z-index: 555;
  
  }
  .musiccontrol :hover{
    transform: scale(1);  
  cursor:none;
  z-index: 555;
  animation-play-state: paused;
  }
  
  #controller{
   margin: 0;
   animation-play-state: running;
  height: 15%;
  width: 15%;
  transition: 200ms;
  box-shadow: 2px 1px 2px 1px #888888;
  border-radius: 50%; 
  align-self: center;
  background-color: #ffffffb2;
  animation : waves1  1.5s ease-in-out infinite;
 
  
  
  }
  
  #controller:hover{
    animation-play-state: paused;
    cursor:none;
    transform: 0.01s scale(1);  
     }


.navigation{
display: none;
margin-left: 15%;

}

.navigation a{
    text-decoration: none;
    color:#0c3c33;
    padding: 6px 15px ;
    border-radius:  20px;
    margin: 0 0.3vw 0 0.3vw ; 
    font-weight: 600;
    font-size:0.65vw ;
   
}

.navigation a:hover, 
.navigation a.active{
   background: #0c3c33;
   color: #fff;
   
}

.filtre{

  background-color: rgba(10, 10, 10, 0.015);
  height: 100%;
  width: 100%;
  z-index: 1;
  
}

.filtre2{
display: none ;
  background-color: rgba(0, 0, 0, 0.064); 
  height: 100%;
  width: 100%;
  z-index: 100;
  
}
.parallax{
 
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
}

#hill1{
margin-left: 10px;
margin-top: 2%;
transform: scale(1.15);
transition:  ease-in;

}

.parallax1{
 

    position: relative;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#0c3c33;
   }
    #back{
      position: absolute;
      top: 0px;
    }



.text{
   
position: absolute;
top: 52%;
color: #1f1e1e;
transition: 0.05s;
font-weight: bold;
text-shadow: 0.3vw 0.3vw 0.2vw #302f2f5d;

}

.text span{
  
  font-size: 3em;
  position: relative;
  display:inline-block;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
animation-delay: calc(-0.1s * var(--i));
animation-play-state: running;

}

.text:hover span{
  animation-play-state: paused;
}





#hill5{
transition: 0.0001s;
animation-delay: 2s;
  animation: waves 3s ease-in-out infinite;
overflow: hidden;
margin-left: 1%;
}


#hill3{
  transition: ease-in-out;

  
  }


#hill4{
    transition:  ease-in-out;

    margin-top: 1%;
    }

.parallax img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      

}

#base{margin-top: 33%;
  width: 120%;
  height: 20%;
  overflow: hidden;
  margin-right: 40%;
}

#leaf{
  animation: leaf 5s ease-in-out infinite;
  animation-delay: 2s;
  z-index: 7000;
}

.parallax1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    

}

























:root {
  --primary: #ffce00;
  --secondary: #FE4880;
    --dark: #212121;
    --light: rgb(90, 8, 8);;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  .card {
    margin: 50px auto 0;
    width: 15.8vw;
    height: 25.2vw;
    perspective: 1000px;

    position: relative;
    grid-area: 1 / 1;
  }


  .card:hover{
    width: 16.076vw ;
    height:  25.5vw;
    transition: 0.08s ease-in-out;
  }

 

   


  .logo img{

height: 5vw;
width: 9vw;

  }
  .card__inner {
    width: 15.8vw;
    height: 25vw;
    transition: transform 0.3s  ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    margin-left: 0px;
    position: relative;
  
  }


 


  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
    transition: 0.17s;
  }
  
  

  .card2__inner {
    width: 15.8vw;
    height: 25vw;
    transition: transform 0.3s  ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin-left: 0px;
  }
  
  .card2__inner.is-flipped {
    transform: rotateY(180deg);
    transition:  0.17s;
  }
  



    

  




    

  .card4__inner {
    width: 15.8vw;
    height: 25vw;
    transition: transform 0.3s  ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
   
  }
  
  .card4__inner.is-flipped {
    transform: rotateY(180deg);
    transition:  0.17s;
  }

    




  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);

    

  }

  
  
  .card__face--front {
  
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
 display: inline-block;
  }



  .card__face--front h2 {
    color: #FFF;
    font-size: 1vw;
   text-align: center;
   margin-top: 45%;
  }

  

  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
    display: flex;
    
  }
  
  .card__content {
    width: 100%;
    height: 100%;
    transform:scale(1.02);;
  }

 
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  

  
  .card__header h2 {
    color: #FFF;
    font-size: 0.8vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto; 
    padding-left: 2%;
    padding-top: 2%;
    overflow: auto;
    
  }
  
  .card__body h3 {
    color: white;
    font-size: 0.59vw;
    font-weight: 600;
  }
  .card__body > :nth-child(2) {
    padding-right: 9%;

  }

  .card__body > :nth-child(1) {
    display: inline;
    padding-right: 2%;
    padding-left: 2%;
    
  }


  .card__body > :nth-child(3) {
    grid-column: 1 / span 2; 
   margin-top: 2% ;
   margin-left: 2.7%;
   margin-right: 2%;
  }

  #about {
    display: grid;
    grid-template-columns: 1fr ;
   margin-left: 0%;
   margin-right: 1%;

  }

  #about p {
    margin-top: 20%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 0.6vw;
    font-weight: 300;
   
  }

  


  .card__body h4  {
    color: white;
    font-size: 0.5vw;
    font-weight: 600;
   
  
  }
  
  .card__body p {
    color: white;
    font-size: 0.5vw;
    font-weight: 300;
    
  }


  .skills {
  display: grid;
  grid-template-rows: 10, 1fr; /* Crée 10 lignes avec une hauteur égale */
 
  overflow: auto;
  padding-top: 2.7%;
}

.grid-item {
  color: white;
font-size: 0.53vw;
  padding: 2%;
  text-align: center;


}
.grid-content {
  position: relative;
  margin:0.05%;
}
.grid-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Centre horizontalement */
  width: 3%; /* Largeur de la bordure */
  height: 2px ; /* Épaisseur de la bordure */
  background-color: white; /* Couleur de la bordure */
  transform: translateX(-50%); /* Décale le centre au milieu */
}


  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

#menupic{
  display: none;
}
.menu-btn{
  display: none;
  position: absolute;
  top : 35% ;
  right: 3%;
  height: 10vw;
  width: 10vw;
animation : begin 0.2s ease-in-out;
}

.skies{
display: none;
position: absolute;


width: 100%;
height: 100%;
}

#skies{
  margin-top: 37%; height: 58%;
width: 95%; }


#minicloud{
  position: absolute;
  top: 12vh;
  left: 5vw;
   height: 4%;
width: 11%;
animation: cloud 3.3s ease-in-out infinite ;
animation-play-state: paused;

}
#minicloud2{
  position: absolute;
  top: 45vh;
  left: 75vw;
   height: 6%;
width: 17%;
animation: cloud 3.9s ease-in-out infinite ;
animation-play-state: paused;
}

#minicloud3{
  position: absolute;
  top: 20vh;
  left: 5vw;
   height: 5%;
width: 15%;
animation: cloud 3.8s ease-in-out infinite;
animation-play-state: paused;
}

#minicloud4{
  position: absolute;
  top: 26vh;
  left: 27vw;
  height: 6%;
  width: 17%;
animation: cloud 3.9s ease-in-out infinite ;
animation-play-state: paused;

}
.active1{

  display: none;
}




.begin {
  position: fixed;
 
  left: 43.5vw;
  top : 17% ;
  z-index: 999; /* Pour s'assurer que le bouton est au-dessus de tout le reste */
  
  padding: 10px; /* Espacement à l'intérieur du bouton */
  border: none; /* Supprime la bordure du bouton */
  color: #fff; /* Couleur du texte du bouton */
  
  animation : waves 5s ease-in-out infinite;
 
}

.begin h1 {
  margin: 0; /* Supprime la marge par défaut du h1 */
  font-size: 2.5vw; /* Taille du texte du bouton, ajustez selon vos préférences */
  font-weight: 500;
  font-family: 'Kusukusu', sans-serif; 
  transition: 500ms;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
}





.downloadcv{
  
  position: absolute;
  margin-top: 115vh;
  left: 47vw;
  animation : waves 3.5s ease-in-out infinite;
  transition: 0.097s;
  animation-play-state: running;

cursor:none;
z-index: 555;

}


#downloadcv{ box-shadow: 2px 2px 4px #14301768;
  border-radius: 50%; 
  align-self: center;
  background-color: #ffffff;
 margin: 0;
 display: none;
height: 9%;
width: 9%;


border-radius: 90%; 
align-self: center;



}








  @media screen and (max-width:1281px){

    .downloadcv{
  
      position: absolute;
      margin-top: 29vh;
      left: 80%;
    
    
    cursor:none;
    z-index: 555;
    
    }
    .downloadcv :hover{  
      transform: scale(1);  
    cursor:none;
    z-index: 555;
    animation-play-state: paused;
    }
    
    #downloadcv{ box-shadow: 2px 1px 2px 1px #888888;
      border-radius: 50%; 
      align-self: center;
      background-color: #ffffffb2;
     margin: 0;
     display: none;
    height: 60%;
    width: 60%;
    transition: 200ms;
    
    border-radius: 90%; 
    align-self: center;
    animation : waves 3.5s ease-in-out infinite;
    transition: 0.97s;
    animation-play-state: running;
    
    
    }
    
    #downloadcv:hover{
      animation-play-state: paused;
     
      transform: 0.1s scale(1);  
       }
    
    
    
body{
  overflow: hidden; }


    .showmobilecards{
      display: flex;
      position: absolute;
      margin-top: 0%;
   margin-left: 0;

    }

  

   
    .show{
      display: none;
    }


   
.logo{
position: absolute;
top: 13%;
left:45% ;
transform: scale(2.8);

}
body{
  overflow: hidden;
}

body.enable-scroll {
  overflow: auto;
}



.skies{
display: flex;

justify-content: center;

transition: all 0.5s    ease;
overflow: hidden;

}
#skies{
  margin-top: 31vh;
height: 50vh;
width: 50vh;
  transition: 0.001s;
  animation-delay: 1s;
  animation: waves 1s ease-in-out infinite;


}


.begin {
  position: fixed;
 
  left: 0.5vw;
  top : 23% ;
  z-index: 999; /* Pour s'assurer que le bouton est au-dessus de tout le reste */
  
  padding: 10px; /* Espacement à l'intérieur du bouton */
  border: none; /* Supprime la bordure du bouton */
  color: #fff; /* Couleur du texte du bouton */
  
  animation : waves 5s ease-in-out infinite;
 
}

.begin h1 {
  margin: 0; /* Supprime la marge par défaut du h1 */
  font-size: 2.2em; /* Taille du texte du bouton, ajustez selon vos préférences */
  font-weight: 400;
  font-family: 'Kusukusu', sans-serif; 
  transition: 500ms;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
}





.menu-btn{

  display: none;
transform: scale(1);

}


.navigation{
position: absolute;
top: 0;
left: 0;
  margin: 0;
 
 align-items: center;
 margin-top: -250%;
 transition: all 0.2s    ease;
 background-color: rgb(255, 255, 255, 0.8);
 width: 100vw;
 height: 100vh;
  }
  .mobilemenu{
   
   
    margin-top: 0;
   
  }

  .navigation a{
      text-decoration: none;
      color:#0c3c33;
      padding: 6px 15px ;
      border-radius:  20px;
      margin: 3vh 0.3vw 0 0.3vw ; 
      font-weight: 300;
      font-size:3vw ;
     display: block;
     text-align: center;
  }



.filtre{

display: block;
  
}

.navmobile{
  margin-top: 30vh;
margin-left: 5vw;
margin-right: 5vw;

}


.musiccontrol{
  
  position: absolute;

  left: 4vw;
  top : 5% ;
 

cursor:none;
z-index: 555;
cursor: none;
transition: 500ms;

}

.musiccontrol :hover{
  transform: scale(1);
transition: 0ms;
}

#controller{
 margin: 0;
margin-bottom: 10%;
height: 19%;
width: 19%;
transition: 600ms;
box-shadow: 2px 1px 2px 1px #888888;
border-radius: 50%; 
align-self: center;
}

#controller:active{
  transform: scale(1.1);
}








.show{
  display: none;
}
 
  
span.folds {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:grid;
  grid-template-columns:auto auto auto auto auto;
}

span.cell {
  border:0px solid rgba(30, 10, 60, 0.4);
  font-size:1em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

/* MAIN */
span.main {
  visibility:visible;
  filter:opacity(0.8);
}

span.main-1 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.073) 0%,
      rgba(76, 53, 73, 0.042) 100%
    );
  }

span.main-2 {
  background-image: 
    linear-gradient(
      to right,
      rgba(76, 53, 73, 0.13) 0%,
      rgba(76, 53, 73, 0.00) 100%
    );
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* VERTICAL */
span.vertical {
  visibility:visible;
  filter:opacity(1);
}

span.vertical-1 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0.02) 20%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.098) 94%,
     
      rgba(76, 53, 73, 0.06) 100%
    );
}

span.vertical-2 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.06) 0%,
      rgba(76, 53, 73, 0.063) 2%,
      rgba(76, 53, 73, 0.16) 6%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.02) 100%
    );
}

span.vertical-3 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.30) 0%,
      rgba(76, 53, 73, 0.24) 2%,
      rgba(76, 53, 73, 0.15) 5%,
      rgba(76, 53, 73, 0.00) 28%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.16) 94%,
      rgba(76, 53, 73, 0.35) 100%,
     
    );
}

span.vertical-4 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.06) 0%,
      rgba(76, 53, 73, 0.10) 2%,
      rgba(76, 53, 73, 0.16) 6%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.02) 100%
    );
}

span.vertical-5 {
  background-image: 
    linear-gradient(
     to right,    
      rgba(76, 53, 73, 0.30) 0%,
      rgba(76, 53, 73, 0.24) 2%,
      rgba(76, 53, 73, 0.15) 5%,
      rgba(76, 53, 73, 0.00) 28%,
      rgba(76, 53, 73, 0.114) 98%,
      rgba(76, 53, 73, 0.02) 100%      
    );
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* HORIZONTAL */
span.horizontal {
  visibility:visible;
  filter:opacity(1);
}

span.horizontal-1 {
  background-image: 
    linear-gradient(
     to bottom,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0.00) 72%,
      rgba(76, 53, 73, 0.15) 95%,
      rgba(76, 53, 73, 0.24) 100%
    );
}

span.horizontal-2 {
  background-image: 
    linear-gradient(
     to bottom,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.22) 96%,
      rgba(76, 53, 73, 0.08) 100%
    );
}

span.horizontal-3 {
  background-image: 
    linear-gradient(
     to top,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.14) 100%
    );
}

span.horizontal-4 {
  background-image: 
    linear-gradient(
     to top,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.18) 94%,
      rgba(76, 53, 73, 0.02) 100%
    );
}
















.logo{
position: absolute;
top: 11%;
left:43% ;

transition: 200ms ease-in;
}


body{
overflow: hidden;
}
.skies{
display: flex;

justify-content: center;

transition: all 0.5s    ease;

}
#skies{

transition: 0.0001s;
animation-delay: 1s;
animation: waves 1s ease-in-out infinite;
animation-play-state: paused;

}

.menu-btn{
display: none;
height: 7vh ;
width: 11vw;;
}


.navigation{
position: absolute;
top: 0;
left: 0;
margin: 0;

align-items: center;
margin-top: -250%;
transition: all 0.5s    ease;
background-color: rgb(255, 255, 255, 0.8);
width: 100vw;
height: 100vh;
}
.mobilemenu{


margin-top: 0;

}

.navigation a{
  text-decoration: none;
  color:#0c3c33;
  padding: 6px 15px ;
  border-radius:  20px;
  margin: 0 0.3vw 0 0.3vw ; 
  font-weight: 600;
  font-size:7vw ;
 display: block;
 text-align: center;
}



.filtre{

display: block;
background-color: rgba(173, 173, 173, 0.072); 
height: 100vh;
width: 100vw;
}

.navmobile{
margin-top: 30vh;
margin-left: 5vw;
margin-right: 5vw;

}

.parallax1{
margin-left: 0;
width: 100vw;
height: 100vh;

display: none;

}
.card {

width: 80vw;
height: 85vh;
perspective: 1000px;
margin-left: 10% ;
position: relative;
grid-area: 1 / 1;
}


.card:hover{

transition: 0.08s ease-in-out;

}

.card__inner {

width: 80vw;
height: 85vh;
transition: transform 0.3s  ease-in-out;
transform-style: preserve-3d;
cursor: pointer;
display: none;

}
.card__inner.is-flipped {
 transform: rotateY(180deg);
 transition: 0.17s;

}


.card2__inner {
position: absolute;
top : -89vh ;
width: 80vw;
height: 85vh;
transition: transform 0.3s  ease-in-out;
transform-style: preserve-3d;
cursor: pointer;
display: none;

}
.card2__inner.is-flipped {
 transform: rotateY(180deg);
 transition: 0.17s;

 
 
}

.card4__inner {

position: absolute;
top : -177vh ;
  width: 80vw;
height: 85vh;
  transition: transform 0.13s  ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  display: none;

}
.card4__inner.is-flipped {
 transform: rotateY(-180deg);
 transition: 0.17s;

 scale: 1;
 
}




.card__face {
position: absolute;

-webkit-backface-visibility: hidden;
backface-visibility: hidden;
overflow: hidden;
border-radius: 16px;
box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
margin-left: 0;


}



.card__face--front {

background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
display: flex;
align-items: center;
justify-content: center;
display: inline-block;
margin-left: 0px;
}



.card__face--front h2 {
color: #FFF;
font-size: 3vw;
text-align: center;
margin-top: 45%;

}


#about p {
margin-top: 10%;
padding-left: 4%;
padding-right: 4%;
font-size: 2.8vw;
font-weight: 400;

}
.card__face--back {
background-color: var(--light);
transform: rotateY(180deg);
display: flex;

margin-left: 0px;
}

.card__content {

transform:scale(1.02);;
}



.card__header h2 {

font-size: 3vw;
font-weight: 900;

}



.card__body h3 {
color: white;
font-size: 3vw;
font-weight: 600;
}


.card__body h4  {
color: white;
font-size: 2.5vw;
font-weight: 700;


}

.card__body p {
color: white;
font-size: 2.3vw;
font-weight: 500;

}
.grid-item {
color: white;
font-size: 2.3vw;
font-weight: 500;
padding: 2%;
text-align: center;


}

.scrolling-text {display: none;  margin-top: 9vh;
  margin-left: 0vh;}

.scrolling-text h1 {

  margin-left: -20vw;
  white-space: nowrap; 
  overflow: hidden; 
  animation: textdefilant 10s linear infinite;
}
























@media screen and (max-width:590px){
  .show{
    display: none;
  }
   

  


  #downloadcv{width: 80%;height: 80%;
  }












  .logo img{

    height: 100%;
    width: 100%;
    
      }











.logo{
position: absolute;
top: 10vh;
left:45% ;
height: 10vh;
width: 22vw;
transition: 200ms ease-in;
}

body{
overflow: hidden;
}
.skies{
display: flex;

justify-content: center;

transition: all 0.5s    ease;

}
#skies{

transition: 0.0001s;
animation-delay: 1s;
animation: waves 1s ease-in-out infinite;
animation-play-state: paused;

}

.menu-btn{
display: none;
height: 8vh ;
width: 18vw;;
}


.navigation{
position: absolute;
top: 0;
left: 0;
margin: 0;

align-items: center;
margin-top: -250%;
transition: all 0.5s    ease;
background-color: rgb(255, 255, 255, 0.8);
width: 100vw;
height: 100vh;
}
.mobilemenu{
 
 
  margin-top: 0;
 
}

.navigation a{
    text-decoration: none;
    color:#0c3c33;
    padding: 6px 15px ;
    border-radius:  20px;
    margin: 0 0.3vw 0 0.3vw ; 
    font-weight: 600;
    font-size:7vw ;
   display: block;
   text-align: center;
}



.filtre{

display: block;

}

.navmobile{
margin-top: 30vh;
margin-left: 5vw;
margin-right: 5vw;

}

.parallax1{
  margin-left: 0;
  width: 100vw;
  height: 100vh;

display: none;

}
.card {
  
width: 80vw;
height: 88vh;
  perspective: 1000px;
margin-left: 10% ;
  position: relative;
  grid-area: 1 / 1;
}


.card:hover{
  
  transition: 0.08s ease-in-out;
  
}

.card__inner {

  width: 80vw;
height: 75vh;
  transition: transform 0.3s  ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  display: none;

}
 .card__inner.is-flipped {
   transform: rotateY(180deg);
   transition: 0.17s;

 }

  
 .card2__inner {
position: absolute;
top : -93vh ;
  width: 80vw;
height: 75vh;
  transition: transform 0.3s  ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  display: none;

}
 .card2__inner.is-flipped {
   transform: rotateY(180deg);
   transition: 0.17s;
  
   
   
 }

 .card4__inner {

  position: absolute;
  top : -189.4vh ;
    width: 80vw;
  height: 73vh;
    transition: transform 0.13s  ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    display: none;

}
 .card4__inner.is-flipped {
   transform: rotateY(-180deg);
   transition: 0.17s;
  
   scale: 1;
   
 }




.card__face {
  position: absolute;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
margin-left: 0;
  

}



.card__face--front {
 
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
display: inline-block;
margin-left: 0px;
}



.card__face--front h2 {
  color: #FFF;
  font-size: 0.1vw;
 text-align: center;
 margin-top: 35%;
 
}

.skills {
 
  padding-top: 8.7%;
}
#about p {
  margin-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 3.8vw;
  font-weight: 300;
 
}
.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
  display: flex;
  
 margin-left: 0px;
}

.card__content {
  
  transform:scale(1.02);;
}

.card__face--front h2 {
 
  font-size: 7vw;
  margin-top: 75%;
  
}
.card__header {
  position: relative;
  padding: 30px 30px 20px;
}

.card__header h2 {
 
  font-size: 3.5vw;
  font-weight: 900;
  
}



.card__body h3 {
  color: white;
  font-size: 3.5vw;
  font-weight: 600;
}


.card__body h4  {
  color: white;
  font-size: 3.5vw;
  font-weight: 430;
 

}

.card__body p {
  color: white;
  font-size: 3vw;
  font-weight: 400;
  
}
.grid-item {
  color: white;
  font-size: 3.3vw;
  font-weight: 420;
  padding: 2%;
  text-align: center;


}

}



@media screen and (max-width:390px){

.card4__inner {

  position: absolute;
  top : -191.4vh ;
    width: 80vw;
  height: 88vh;
    transition: transform 0.13s  ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
    display: none;

}


.skills {
 
  padding-top: 6%;
} 
.grid-item {
  color: white;
  font-size: 3.1vw;
  font-weight: 450;
  padding: 1.7%;
  text-align: center;


}
}
}
